@charset "UTF-8";
/* CSS Document */

body {
  margin:0;
  padding:0;
  height: 100%;
  overflow: hidden;
  background-color: #0082a2;
}

a {
  color:#0082a2;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

.title-text {
  max-width: 100%;
  position: absolute;
    top: 40%;
  transform: translateY(-50%);
  padding: 20px;
}

.title-text img {
  max-width: 100%;
}

.contact {
	position: absolute;
	 bottom: 0;
	 right: 0;
   left: 0;
  width: auto;
  background: #fff;
  padding: 20px 10px 20px;
}

.contact-img {
  text-align: center;
  padding-bottom: 10px;
}

.contact-txt {
  text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	width:100%;
	color:#0082a2;
	letter-spacing:0.1em;
}

@media (min-width: 500px) {
  .title-text {
    width: 500px;
    position: absolute;
      top: 40%;
      left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 0;
  }
}

@media (min-width: 900px) {
  .right-corner {
    position: absolute;
      bottom: -400px;
      right: -780px;
    transform: rotate(37deg);
    height: 1000px;
    width: 1000px;
    background: #fff;
  }
  .contact {
    left: auto;
    background: transparent;
    width: 350px;
  }
}
